#titulo{
    background-color: red;
    text-align: center;
    padding: 10px;
    font-family: Lucida Calligraphy;
    font-size: 20px;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
    margin-right: 550px;
    color: white;
}
#titulo:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
  transition: 2s;
}
#in{
    background-color:red;
    color: white;
    font-family: MS PGothic;
    padding: 15px;
    border-radius: 15px;
    float: right;
    margin-top: 100px;
}
#in:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
  transition: 4s;
}
#re{
    font-family: Lucida Calligraphy;
    float: right;
    margin-top: -0px;
    margin-right: 200px;
    font-size: 20px;
    width:650px;
    color: white;
  
}
#re:hover{
    transform: translateX(20px);
    transition: transform 0.3s ease-out;
}
#uno{
    margin-top: -0px;
    float: right;
    background-color: #FF5403;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
#dos{
    float: right;
    margin-top: 20px;
    background-color: #FF5403;
    margin-right: 400px;
    border-radius: 15px;
    padding: 10px;
    color: white;
}
#tres{
    float: right;
    background-color: #FF5403;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 300px;
    color: white;
}
#cuatro{
    float: right;
    background-color: #FF5403;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-right: 550px;
    color: white;
}
#cinco{
    float: right;
    background-color: #FF5403;
    border-radius: 15px;
    padding: 10px;
    margin-top:  30px; 
    margin-right: 200px;
    color: white;
}
#seis{
    float: right;
    background-color: #FF5403;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    color: white;
}
#fondo{
    background-color: black;
    height: 740px;
    width: 1441px;
    margin-left: -9px;
}